Flask==0.12.2
profanity==1.1
schema==0.6.6
pymongo==3.5.1
numpy==1.13.1
tweepy==3.5.0
Werkzeug==0.12.2
httplib2==0.10.3
lxml==4.1.1
oauth2==1.9.0.post1
scikit_learn==0.19.1
gunicorn==19.6.0
greenlet==0.4.12
gevent==1.2.1
scipy
